* { /*Helps with sizing on mobile screens*/
    box-sizing: border-box;
}

/*Hamburger menu for mobile*/
.hamburger {
    display: block;
    font-size: 32px;
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

/*Navbar*/
nav {
    position: relative;
    background-color: #333;
    height: 60px;
}

/*Default mobile first setting*/
nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 1000;
    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul.show {
    display: flex;
}

/*Settings for bigger screens*/
@media (min-width: 1250px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: static;
        width: auto;
        height: 100%;
    }
    .hamburger {
        display: none;
    }
}

nav ul li {
    margin: 0
}

nav ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    color: white;
    background-color: #111;
}

a:hover {
    color: black;
}

/*Page title*/
#title {
    background-color: #284C7A;
    color: white;
    margin: 0px 0px 50px 0px;
    padding: 24px 16px; /*Default padding for mobile screens*/
    text-align: center;
    border-style: outset;
    border-width: 10px;
    border-color: #284C7A;
}

@media (min-width: 1250px) {
    #title {
        padding: 24px 100px; /*Padding for larger screens*/
    }
}

body {
    display: grid;
    grid-template-rows: 75px 1fr 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

main {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr; /*Default displays everything in one column*/
}

@media (min-width: 1250px) {
    main { /*Displays everything in two columns on larger screens*/
        grid-template:
            "nav nav"
            "header header"
            "main aside"
            "footer footer"
            / 1fr 1fr;
    }
}

/*Creates whitspace*/
.container { /*Default padding for smaller screens*/
    margin: 0px;
    padding: 12px 16px;
}

@media (min-width: 1250px) {
    .container { /*More padding for larger screens*/
        padding: 12px 50px;
    }
}

footer {
    margin: 60px 0px 0px 0px;
}


h1, h2, h3, h4, h5, h6, p, a {
    font-family: arial, sans-serif;
}

/*Default for mobile devices*/
p {
    font-size: 18px;
}

a {
    font-size: 18px;
}

th {
    font-size: 18px;
}

td {
    font-size: 18px;
}

/*For large tablets*/
@media (min-width: 900px) {
    p {
        font-size: 22px;
    }
    h6 {
        font-size: 18px;
    }
    a {
        font-size: 22px;
    }
    th {
        font-size: 22px;
    }
    td{
        font-size: 22px;
    }
    footer{
        font-size: 20px;
    }
    li{
        font-size: 18px;
    }
}

/*For computers*/
@media (min-width: 1250px) {
    p {
        font-size: 16px;
    }
    a {
        font-size: 16px;
    }
    th {
        font-size: 16px;
    }
    td{
        font-size: 16px;
    }
}

h6 {
    color: gray;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*Quiz spacing*/
.question {
    margin-bottom: 15px;
}

/*Highlights for answers*/
.correct {
    background-color: #c8f7c5;
}

.wrong {
    background-color: #f7c5c5;
}

img {
    max-width: 100%;
    height: auto;
}